
.head-section{
    display: flex;
    margin :0  auto;
    background-color:  rgb(36, 36, 36);
    align-items: center;
    height: auto;
    padding: 10px;
    width:  auto;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    min-width: auto;
}

.logo>a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding-right: 15px ;
}


img{
    margin: 10px;
    height: 25px;
    margin-left: 1vw;
}

input{
    width: 20vw;
    margin-left:  5vw;
    font-size:  14px;
    padding: 12.5px;
    height: 10px;
    background-color: rgb(116, 116, 116);
    color: white;
    border:  0.005px solid silver;
    border-radius: 2.5px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo>a>span{
    font-weight: 600;
    font-size: 20px;
}

.logo>a:hover{
    color: rgb(108, 204, 108);
}

input:focus{
    background-color:  white;
    color: black;
    width: 25vw;
    transition:  all .3s;
}

::placeholder{
color: rgb(161, 154, 154);
font-weight: 100;
}

