input{
    width: 25vw;
    font-size:  17px;
    padding: 10px;
    border:  1.25px black solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}